{% extends 'base.html' %}

{% block title %}
Create Task
{% endblock title %}
{% block content %}
<main>
    <div class="task-form">
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="project-add">Create</button>
        </form>
    </div>
</main>
{% endblock content %}
