{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete Task</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>
    <main>
        <div>
            <h1>Task Completed?</h1>
            <form method="post">
                {% csrf_token %}
                <button>Delete</button>
            </form>
        </div>
    </main>
</body>

</html>
