{% extends 'base.html' %}

{% block title %}
Task List
{% endblock title %}
{% block content %}
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        <p>
            <button class="project-add">
                <a class="button" href="{% url 'create_task' %}"> Add + </a>
            </button>
        </p>
        {% for task in task_list %}
        {% if task %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Due</th>
                    <th>Completed?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% empty %}
        <p>You have no tasks</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}
