{% extends 'base.html' %}

{% block title %}
Project Details
{% endblock title %}
{% block content %}
<main>
    <div class="project-detail">
        <h1>{{ project_detail.name }}</h1>
        <p>{{ project_detail.description }}</p>
        <h2>Tasks</h2>
        <p>
            <button class="project-add">
                <a href="{% url 'create_project' %}"> Add + </a>
            </button>
        </p>
        {% for task in project_detail.tasks.all %}
        {% if task %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% empty %}
        <p>This project has no tasks</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}
