{% extends 'base.html' %}

{% block title %}
My Projects
{% endblock title %}
{% block content %}
<main>
    <div class="project-list">
        <h1>My Projects</h1>
        <p>
            <button class="project-add">
                <a class="button" href="{% url 'create_project' %}"> Add + </a>
            </button>
        </p>
        {% if not projects %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>
                        <a class="project" href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
